*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #ffd39d;
}
/* Hero Section styling */
.logo{
    order: 1;
    font-size: 2rem;
    font-weight: 800;
}
#logo-image{
    max-width: 80px;
    max-height: 40px;
    order:1;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin-left:50px ;
    margin-right: 50px;
}
nav ul{
    display: flex;
    order: 2;
}

nav ul a{
    color: black;
    font-size: 1.6rem;
    margin-left: 2rem;
}
nav ul li :hover{
    border-bottom: 3px solid #790808;
}
.user-info {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #333;
}

.username {
  font-weight: bold;
  color: #790808; /* Change to desired color */
  margin-left: 0.5rem; /* Space between 'Welcome,' and the username */
}